
.DS_Store banished!
ML Practice/Input/DC Crime Incident/Police_Department_Incident_Reports__Historical_2003_to_May_2018.csv
Others/Interview/OA/Data/chr7.fa
Others/Interview/OA/Data/chr7.fa.fai
Others/Interview/OA/Data/chr7.dict
Others/Interview/OA/Data/Homo_sapiens.GRCh37.87.chr.gtf
